*{
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-y: hidden;
}
.bungkus{
    /* position: fixed; */
    display: grid;
    grid-template-areas: "navigasi kepala"
                            "navigasi isi";
    grid-template-columns: 0.7fr 4fr;
    grid-template-rows: 1fr 9fr ;
    background: rgb(48, 48, 48);
    
}
.kepala{
    grid-area: kepala;
    background: rgb(0, 0, 0);
    display: flex;
    font-size: 12pt;
    box-shadow: 0 0 10px black;
    padding: 1% 2%;
    color: #daa520;
    overflow-x: hidden;
}
.navigasi{
    width: 100%;
    height: 100%;
    background: #f7b611 fixed;
    grid-area: navigasi;
}
.isi_navigasi{
    position: fixed;
    margin-bottom: 10%;
    
}
.isi_navigasi h1{
    margin: 10% 0 10% 19%;
    font-style: italic;
    border-bottom: 3px solid white;
    width: 80%;
    font-size: 20pt;
}
li{
    list-style: none;
    padding: 10% 0;
}

.link_navigasi{
    text-decoration: none;
    color: black;
    width: 100%;
    font-size: 110%;
    font-weight: 600;
}
.isi{
    grid-area: isi;
    /* height: 100vh; */
}
/* ini bagian style yang filenya dipanggil dari sini sampai line 164 */
.daftar_akun{
    position: relative;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    top: 2%;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
    height: 80%;
    background: rgb(155, 155, 155);
    animation: animasi 0.8s ease-in-out;
}
@keyframes animasi {
    from{
        left: 40%;
        opacity: 0;
    }
    to{
        left: 50%;
        opacity: 1;
    }
}
.edit_profile{
    position: relative;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    top: 2%;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
    height: 80%;
    background: rgb(155, 155, 155);
    animation: animasi 0.8s ease-in-out;
}
.lihat_transaksi{
    position: relative;
    /* display: flex; */
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    top: 2%;
    left: 50%;
    transform: translate(-50%,0);
    width: 90%;
    height: 80%;
    background: rgb(155, 155, 155);
    animation: animasi 0.8s ease-in-out;
}
.daftar_lihat_transaksi table{
    width: 100%;
    border: solid 1px black;
    border-spacing: 0;
}
.daftar_lihat_transaksi th{
    border: solid 1px rgb(80, 80, 80);
    background: rgb(27, 27, 27);
    color: goldenrod;
    padding:0 0.5%;
    width: 1%;
}
.daftar_lihat_transaksi td{
    border: solid 1px black;
    padding:0 0.5%;
}
.warna1{
    background: rgb(204, 204, 204);
}
.warna2{
    background: rgb(255, 207, 85);
}
.isi_list_lihat_transaksi{
    text-align: center;
    position: relative;
    width: 50%;
    top : 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    line-height: 25pt;
}
.daftar_lihat_transaksi{
    text-align: center;
    position: relative;
    width: 90%;
    top : 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    line-height: 25pt;
}
.transaksi{
    position: relative;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    top: 2%;
    left: 50%;
    transform: translate(-50%,0);
    width: 90%;
    height: 80%;
    background: rgb(155, 155, 155);
    animation: animasi 0.8s ease-in-out;
    box-shadow: 3px 3px 5px black;
}
.update{
    position: relative;
    display: flex;
    border-radius: 8px;
    /* justify-content: center; */
    align-items: center;
    top: 2%;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
    height: 80%;
    background: rgb(155, 155, 155);
    animation: animasi 0.8s ease-in-out;
}
.hom{
    font-size: 25px;
    position: relative;
    display: flex;
    
    border-radius: 8px;
    /* justify-content: right; */
    padding: 2%;
    align-items: center;
    top: 4%;
    left:50%;
    transform: translate(-50%,0);
    width: 70%;
    padding: 4% 2%;
    height: auto;
    background: rgb(155, 155, 155);
    animation: animasi 0.8s ease-in-out;
}
.isitabel1{
    text-align: justify;
    padding-bottom: 15px;
    border: 0px solid black;
}
.adminprofil{
    width: 25%;
    margin-right: 12.5%;
    margin-left: 5%;
    border-radius: 100%;
}
.register{
    position: relative;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    top: 2%;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
    height: 100%;
    background: rgb(155, 155, 155);
    animation: animasi 0.8s ease-in-out;
}
.scroller {
    width: 100%;
    height: 100%;
    overflow: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
.tambah_data{
    position: relative;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    top: 2%;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
    height: 80%;
    background: rgb(155, 155, 155);
    animation: animasi 0.8s ease-in-out;
}
.daftar_akun{
    position: relative;
    border-radius: 8px;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    top: 2%;
    left: 50%;
    transform: translate(-50%,0);
    width: 95%;
    height: auto;
    padding: 4% 0;
    background: rgb(155, 155, 155);
    animation: animasi 0.8s ease-in-out;
}
.daftar_akun table{
    width: 95%;
    border: solid 1px black;
    border-spacing: 0;
    column-span: all;
}
.isi_tabel{
    border: solid 1px black;
    /* width: 40%;
    height: 40%; */

}


.link_gambar{
    position: relative;
    left: 100%;
    transform: translate(-15%,0);
    float: right;   
}

.headimg{
    position: inherit;
    width: 5%;
    margin-right: -5%;
    border-radius: 100%;
}
/* buat desain pesan kesalahan */
.warning_salah{
    color: red;
    font-size: 10pt;
    font-style: italic;
}